.hero > h1 {
  font-size: 36px;
  font-weight: 600;
}

.hero{
  display: flex;
  flex-flow: column;
  margin: 20px 30px;
}

.hero > img {
  align-self: center;
  max-width: 400px;
  min-width: none;
  margin: 20px auto;
}

.hero > h1 {
  margin-bottom: 10px;
}

.hero > p {
  margin-top: 0;
}