.cardContainer{
  display: flex;
  max-width: 800px;
  margin: 50px auto;
  border-bottom-style: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.info {
  display: flex;
  flex-flow: column;
}

.info > h2 {
  margin-bottom: 0;
  margin-top: 0;
}

.info > p {
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 30px;
}

.location {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.journeyPic{
  margin: 30px 20px 30px 50px;
  border-radius: 9px;
  height: 300px;
  width: 220px;
}

a {
  color: #918E9B;
}

